<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">


    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman" %></title>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/uhr2ppx.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
  <ul class="nav nav-tabs">
    <li class="nav-item"><%= link_to 'Plain', '/', :class => "nav-link" %></li>
    <li class="nav-item"><%= link_to 'Current', '/current.html', :class => "nav-link" %></li>
    <li class="nav-item"><%= link_to 'Style 1', '/style1.html', :class => "nav-link" %></li>
    <li class="nav-item"><%= link_to 'Style 2', '/style2.html', :class => "nav-link" %></li>
    <li class="nav-item"><%= link_to 'Style 3', '/style3.html', :class => "nav-link" %></li>
  </ul>
    <%= yield %>

  </body>
</html>
